parameters:
  parallel:
    maximumNumberOfProcesses: 1
  level: 9
  paths:
    - web/modules/custom
  customRulesetUsed: true
  ignoreErrors:
    - '#Function [a-zA-Z0-9\\_\\\\:\\(\\)]+ return type has no value type specified in iterable type array#'
    - '#Method Drupal[a-zA-Z0-9\\_\\\\:\\(\\)]+ has parameter \$[a-zA-Z0-9\\_]+ with no value type specified in iterable type array#'
    - '#Method Drupal[a-zA-Z0-9\\_\\\\:\\(\\)]+ return type has no value type specified in iterable type array#'

  # FROM mglaman/drupal-check/phpstan/base_config.neon
  reportUnmatchedIgnoredErrors: false
  excludePaths:
    - /tests/*
    - */settings*.php
    - */bower_components/*
    - */node_modules/*
    - *Test.php
    - *TestBase.php
